/* line 17, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 __ __ ___   ___ __  _
|  V  | \ \_/ / |  \| |
| \_/ | |> , <| | | ' |
|_| |_|_/_/ \_\_|_|\__|
*/
/*
 __  __    __  ___
|  \/  \ /' _/| __|
| -< /\ |`._`.| _|
|__/_||_||___/|___|
*/
/* line 76, ../sass/base.scss */
body * {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 80, ../sass/base.scss */
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 90, ../sass/base.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 96, ../sass/base.scss */
.titles {
  font-style: bold;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 102, ../sass/base.scss */
.secondary-titles {
  font-style: bold;
  font-size: 1.75em;
  line-height: 1.2em;
  font-weight: normal;
}

/* line 108, ../sass/base.scss */
.third-titles {
  padding: 0.4em 1em 0.3em 1em;
  border: solid #fff 1px;
  display: inline-block;
  margin: 1em 0 2em 0;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 116, ../sass/base.scss */
.body-type {
  font-size: 1em;
  line-height: 1.2em;
}

/* line 121, ../sass/base.scss */
.info-box {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
}

@-webkit-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

/* line 152, ../sass/base.scss */
body #djDebug {
  display: none !important;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999999;
  width: 100%;
}

/* line 164, ../sass/base.scss */
#sponsors #platinum {
  color: #ddd;
}
/* line 167, ../sass/base.scss */
#sponsors #gold {
  color: #ffd95f;
}
/* line 170, ../sass/base.scss */
#sponsors #silver {
  color: #777;
}
/* line 173, ../sass/base.scss */
#sponsors #bronze {
  color: #d8741a;
}

/* line 178, ../sass/base.scss */
.donate-button {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  position: absolute;
  right: -60px;
  top: 0px;
  padding: 0.2em 0.3em 0.2em 0.3em;
}
