/* line 17, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 __ __ ___   ___ __  _
|  V  | \ \_/ / |  \| |
| \_/ | |> , <| | | ' |
|_| |_|_/_/ \_\_|_|\__|
*/
/*
 __  __    __  ___
|  \/  \ /' _/| __|
| -< /\ |`._`.| _|
|__/_||_||___/|___|
*/
/* line 76, ../sass/base.scss */
body * {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 80, ../sass/base.scss */
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 90, ../sass/base.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 96, ../sass/base.scss */
.titles, #about .title, #registration .title, #sponsors #title {
  font-style: bold;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 102, ../sass/base.scss */
.secondary-titles, #about #right p:nth-child(1) {
  font-style: bold;
  font-size: 1.75em;
  line-height: 1.2em;
  font-weight: normal;
}

/* line 108, ../sass/base.scss */
.third-titles, #attenders h2, #registration h2 {
  padding: 0.4em 1em 0.3em 1em;
  border: solid #fff 1px;
  display: inline-block;
  margin: 1em 0 2em 0;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 116, ../sass/base.scss */
.body-type, #about #right p, #attenders #text h3, #attenders #text p, #sponsors h3 {
  font-size: 1em;
  line-height: 1.2em;
}

/* line 121, ../sass/base.scss */
.info-box {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
}

@-webkit-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 137, ../sass/base.scss */
  100% {
    display: inline;
    opacity: 0;
  }

  /* line 141, ../sass/base.scss */
  0% {
    opacity: 1;
  }
}

/* line 152, ../sass/base.scss */
body #djDebug {
  display: none !important;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999999;
  width: 100%;
}

/* line 164, ../sass/base.scss */
#sponsors #platinum {
  color: #ddd;
}
/* line 167, ../sass/base.scss */
#sponsors #gold {
  color: #ffd95f;
}
/* line 170, ../sass/base.scss */
#sponsors #silver {
  color: #777;
}
/* line 173, ../sass/base.scss */
#sponsors #bronze {
  color: #d8741a;
}

/* line 178, ../sass/base.scss */
.donate-button {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  position: absolute;
  right: -60px;
  top: 0px;
  padding: 0.2em 0.3em 0.2em 0.3em;
}

/* line 8, ../sass/screen.scss */
.yellow-nav #nav-button #background-colour, .yellow-nav #nav #background-colour {
  background: #ffb01a;
  background-color: #ffb01a;
}

/* line 16, ../sass/screen.scss */
.white-nav #nav-button #background-colour, .white-nav #nav #background-colour {
  background: #fff;
  background-color: #fff;
}

/* line 24, ../sass/screen.scss */
.blue-nav #nav-button a, .blue-nav #nav a {
  color: #fff;
}
/* line 28, ../sass/screen.scss */
.blue-nav #nav-button #nav-button-container .line, .blue-nav #nav #nav-button-container .line {
  border-color: #fff;
}
/* line 32, ../sass/screen.scss */
.blue-nav #nav-button #background-colour, .blue-nav #nav #background-colour {
  background: #2b2b57;
  background-color: #2b2b57;
}

/* line 39, ../sass/screen.scss */
#nav {
  position: fixed;
  left: -100%;
  margin-left: 85px;
  z-index: 99;
  top: 2em;
  height: 50px;
  -webkit-transition: all 1s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -moz-transition: all 1s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -ms-transition: all 1s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -o-transition: all 1s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  transition: all 1s cubic-bezier(0.89, 0.66, 0.17, 0.98);
}
/* line 47, ../sass/screen.scss */
#nav ul li {
  display: inline-block;
}
/* line 49, ../sass/screen.scss */
#nav ul li a {
  display: block;
  padding: 1.15em;
  -webkit-transition: color 500;
  -moz-transition: color 500;
  -ms-transition: color 500;
  -o-transition: color 500;
  transition: color 500;
  color: inherit;
  text-decoration: inherit;
  font-weight: 400;
}
/* line 58, ../sass/screen.scss */
#nav ul li:first-child a {
  padding-left: 2em;
}
/* line 61, ../sass/screen.scss */
#nav ul li:last-child a {
  padding-right: 2em;
}
/* line 65, ../sass/screen.scss */
#nav #nav-container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 25px 0 25px;
  overflow: hidden;
  height: 6px;
  -webkit-transition: all 0.5s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -moz-transition: all 0.5s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -ms-transition: all 0.5s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  -o-transition: all 0.5s cubic-bezier(0.89, 0.66, 0.17, 0.98);
  transition: all 0.5s cubic-bezier(0.89, 0.66, 0.17, 0.98);
}
/* line 74, ../sass/screen.scss */
#nav #background-colour {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  width: -webkit-calc(100% - 75px);
  width: -moz-calc(100% - 75px);
  width: calc(100% - 75px);
  height: 100%;
  background: #ff572b;
  background-color: #ff572b;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 94, ../sass/screen.scss */
#nav.tall #nav-container {
  height: 50px;
}

/* line 97, ../sass/screen.scss */
#nav.slideout {
  left: 0;
}

@-webkit-keyframes fadeIn {
  /* line 102, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 103, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 102, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 103, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 102, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 103, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 102, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 103, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animateIn {
  /* line 106, ../sass/screen.scss */
  0% {
    left: -100%;
  }

  /* line 107, ../sass/screen.scss */
  100% {
    left: 0%;
  }
}

@-moz-keyframes animateIn {
  /* line 106, ../sass/screen.scss */
  0% {
    left: -100%;
  }

  /* line 107, ../sass/screen.scss */
  100% {
    left: 0%;
  }
}

@-ms-keyframes animateIn {
  /* line 106, ../sass/screen.scss */
  0% {
    left: -100%;
  }

  /* line 107, ../sass/screen.scss */
  100% {
    left: 0%;
  }
}

@keyframes animateIn {
  /* line 106, ../sass/screen.scss */
  0% {
    left: -100%;
  }

  /* line 107, ../sass/screen.scss */
  100% {
    left: 0%;
  }
}

@-webkit-keyframes animateOut {
  /* line 110, ../sass/screen.scss */
  100% {
    left: -100%;
  }

  /* line 111, ../sass/screen.scss */
  0% {
    left: 0%;
  }
}

@-moz-keyframes animateOut {
  /* line 110, ../sass/screen.scss */
  100% {
    left: -100%;
  }

  /* line 111, ../sass/screen.scss */
  0% {
    left: 0%;
  }
}

@-ms-keyframes animateOut {
  /* line 110, ../sass/screen.scss */
  100% {
    left: -100%;
  }

  /* line 111, ../sass/screen.scss */
  0% {
    left: 0%;
  }
}

@keyframes animateOut {
  /* line 110, ../sass/screen.scss */
  100% {
    left: -100%;
  }

  /* line 111, ../sass/screen.scss */
  0% {
    left: 0%;
  }
}

/* line 115, ../sass/screen.scss */
#nav-button {
  position: fixed;
  z-index: 100;
  left: -28px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  top: 2em;
  width: 125px;
  height: 50px;
}
/* line 123, ../sass/screen.scss */
#nav-button #nav-button-container > div:nth-child(1) {
  padding-top: 7px;
}
/* line 126, ../sass/screen.scss */
#nav-button img {
  width: 30px;
  height: 30px;
  margin-left: 0.5em;
}
/* line 131, ../sass/screen.scss */
#nav-button .line {
  border-bottom: solid black 4px;
  height: 6px;
  width: 35px;
  margin: 0 0 0 50px;
  background-color: transparent;
  position: relative;
  z-index: 1;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 141, ../sass/screen.scss */
#nav-button #nav-button-container {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 146, ../sass/screen.scss */
#nav-button #background-colour {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff572b;
  background-color: #ff572b;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 160, ../sass/screen.scss */
#social-media-buttons {
  left: inherit;
  right: 10px;
  position: fixed;
  z-index: 100;
  height: 50px;
  top: 2em;
}
/* line 167, ../sass/screen.scss */
#social-media-buttons #nav-button-container {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 172, ../sass/screen.scss */
#social-media-buttons a {
  display: inline-block;
}
/* line 175, ../sass/screen.scss */
#social-media-buttons img {
  width: 1.7em;
  height: 1.7em;
  margin-left: 0.5em;
}
/* line 180, ../sass/screen.scss */
#social-media-buttons .donate-button {
  position: static;
  vertical-align: top;
  margin-left: 0.5em;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.3em 0.4em;
}

/* line 191, ../sass/screen.scss */
#nav-button:hover {
  left: -25px;
}

/* line 195, ../sass/screen.scss */
#scroller-container {
  height: 100%;
}

/* line 199, ../sass/screen.scss */
#container {
  min-height: 100%;
  height: 100%;
}
/* line 202, ../sass/screen.scss */
#container > div {
  position: relative;
  z-index: 9;
}

/* line 208, ../sass/screen.scss */
#carousel {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
}
/* line 214, ../sass/screen.scss */
#carousel .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 224, ../sass/screen.scss */
#carousel .slide .slide-container {
  position: relative;
  height: 100%;
}
/* line 228, ../sass/screen.scss */
#carousel .slide .slide-text {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 237, ../sass/screen.scss */
#carousel .slide .image-background {
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 248, ../sass/screen.scss */
#carousel .slide.off {
  display: none;
}
/* line 251, ../sass/screen.scss */
#carousel .slide.heighlight {
  opacity: 1;
  z-index: 1;
}
/* line 255, ../sass/screen.scss */
#carousel .slide.text .slide-text {
  opacity: 1;
}
/* line 259, ../sass/screen.scss */
#carousel #logo-slide {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 263, ../sass/screen.scss */
#carousel #logo-slide #ewings-logo {
  max-width: 350px;
  width: 50%;
  position: absolute;
  left: 2em;
  bottom: 0;
  margin-bottom: 86px;
}
/* line 271, ../sass/screen.scss */
#carousel #logo-slide #rally-logo {
  position: absolute;
  bottom: 57px;
  width: 100%;
  text-align: right;
}
/* line 276, ../sass/screen.scss */
#carousel #logo-slide #rally-logo img {
  max-width: 350px;
}
/* line 279, ../sass/screen.scss */
#carousel #logo-slide #rally-logo svg {
  max-width: 275px;
  padding-right: 2em;
}
/* line 285, ../sass/screen.scss */
#carousel #quote-container {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 100px;
  text-align: center;
}
/* line 291, ../sass/screen.scss */
#carousel #quote-container .quote {
  width: 77%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.7em;
  text-align: left;
  padding-bottom: 1em;
  line-height: 1.2em;
  color: #fff;
  font-weight: bolder;
  -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 0px 10px black;
  -moz-text-shadow: 0px 0px 10px black;
  -ms-text-shadow: 0px 0px 10px black;
  -o-text-shadow: 0px 0px 10px black;
  text-shadow: 0px 0px 10px black;
}
/* line 306, ../sass/screen.scss */
#carousel #carousel-nav {
  position: fixed;
  width: 100%;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
}
/* line 313, ../sass/screen.scss */
#carousel #carousel-nav .slide-nav {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0.50em;
  background-color: #ffb01a;
  opacity: 0.5;
  /*@include vendorize(box-shadow, inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1));*/
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 324, ../sass/screen.scss */
#carousel #carousel-nav .slide-nav:hover {
  background: #ffb01a;
}
/* line 327, ../sass/screen.scss */
#carousel #carousel-nav .slide-nav.active {
  background: #2b2b57;
}

/* line 334, ../sass/screen.scss */
#spacer {
  margin-top: 100%;
  z-index: -1;
}

/* line 339, ../sass/screen.scss */
#about {
  min-height: 100%;
  width: 100%;
  position: relative;
}
/* line 343, ../sass/screen.scss */
#about div {
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
}
/* line 350, ../sass/screen.scss */
#about #left {
  width: 37.5%;
  text-align: right;
}
/* line 353, ../sass/screen.scss */
#about #left #imageBox {
  margin-top: 300px;
  display: inline-block;
  margin-right: 5em;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 15em;
  height: 15em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 368, ../sass/screen.scss */
#about #right {
  width: 62.5%;
  padding-top: 300px;
  height: auto;
  max-width: 40em;
}
/* line 373, ../sass/screen.scss */
#about #right p:nth-child(1) {
  margin: 0 8px 0 8px;
  font-weight: 700;
}
/* line 378, ../sass/screen.scss */
#about #right p {
  margin: 1.5em 8px 0 8px;
  color: #fff;
}
/* line 383, ../sass/screen.scss */
#about #right p:nth-child(9) {
  padding-bottom: 200px;
}
/* line 388, ../sass/screen.scss */
#about .title {
  position: absolute;
  top: 0;
  left: 37.5%;
  padding: 2em 0 0 16px;
  width: auto;
  text-align: left;
}
/* line 397, ../sass/screen.scss */
#about #background-image-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
/* line 405, ../sass/screen.scss */
#about #background-image-container #background-1 {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffb01a;
}
/* line 416, ../sass/screen.scss */
#about #background-image-container #background-2 {
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  width: 200%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  overflow: hidden;
}
/* line 425, ../sass/screen.scss */
#about #background-image-container #background-2 div {
  width: 50%;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
/* line 440, ../sass/screen.scss */
#about #dimond-container {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: 99;
}
/* line 448, ../sass/screen.scss */
#about #dimond {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #ffb01a;
  background-color: #ffb01a;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-align: left;
}
/* line 457, ../sass/screen.scss */
#about #dimond > div {
  width: 70%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* line 470, ../sass/screen.scss */
#attenders {
  color: #fff;
  min-height: 100%;
  background-color: #ffb01a;
}
/* line 474, ../sass/screen.scss */
#attenders .main-coloum {
  width: 33.3333333333333333%;
  margin-top: 8%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-height: 100%;
  z-index: 1;
}
/* line 482, ../sass/screen.scss */
#attenders .main-coloum svg {
  display: inline-block;
  fill: #fff;
  height: 150px;
  max-width: 150px;
  padding-bottom: 0.75em;
}
/* line 491, ../sass/screen.scss */
#attenders .background-coloums {
  height: 100%;
  background-color: #f00;
  width: 33.33333333333%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
}
/* line 499, ../sass/screen.scss */
#attenders .background-coloums svg {
  width: 100%;
  height: 100%;
}
/* line 504, ../sass/screen.scss */
#attenders #pilots.background-coloums {
  background: #ffb01a;
  left: 33.3333333%;
}
/* line 508, ../sass/screen.scss */
#attenders #drivers.background-coloums {
  background: #2b2b57;
  left: 66.66666%;
}
/* line 512, ../sass/screen.scss */
#attenders #guests.background-coloums {
  background: #ff572b;
}
/* line 519, ../sass/screen.scss */
#attenders #text {
  margin-left: 2em;
  text-align: left;
}
/* line 522, ../sass/screen.scss */
#attenders #text ul {
  margin-left: 8px;
}
/* line 524, ../sass/screen.scss */
#attenders #text ul li {
  margin-left: 16px;
}
/* line 528, ../sass/screen.scss */
#attenders #text h3 {
  text-decoration: underline;
}
/* line 532, ../sass/screen.scss */
#attenders #text table {
  border-collapse: separate;
  width: 80%;
  color: #fff;
  font-size: 0.9em;
  margin: 1em 0;
  font-weight: lighter;
}
/* line 540, ../sass/screen.scss */
#attenders #text table tr td {
  padding: 0.3em 0;
  width: 50%;
  border-top: solid #fff 1px;
}
/* line 547, ../sass/screen.scss */
#attenders #text table tr:last-child td {
  border-bottom: solid #fff 1px;
}
/* line 553, ../sass/screen.scss */
#attenders #text p {
  padding-bottom: 1em;
  width: 90%;
}
/* line 558, ../sass/screen.scss */
#attenders #text p:last-child {
  padding-bottom: 150px;
}
/* line 563, ../sass/screen.scss */
#attenders img {
  width: 33.33333%;
  height: auto;
  margin: 0% 0% 0% 33.33333%;
  display: block;
}
/* line 572, ../sass/screen.scss */
#attenders #drivers h3 {
  margin-bottom: 3em;
}
/* line 577, ../sass/screen.scss */
#attenders #guests .link {
  text-decoration: underline;
}
/* line 580, ../sass/screen.scss */
#attenders #guests h3 {
  margin-top: 2em;
}

/* line 587, ../sass/screen.scss */
#registration {
  min-height: 100%;
  background: #ff572b;
  color: #fff;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 597, ../sass/screen.scss */
#registration .title {
  padding: 2em 0 0 16px;
  margin: 0;
}
/* line 605, ../sass/screen.scss */
#registration > div {
  margin-top: 6em;
}
/* line 608, ../sass/screen.scss */
#registration .half {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  padding: 0 5%;
  max-width: 450px;
}
/* line 614, ../sass/screen.scss */
#registration .half p {
  text-align: left;
}
/* line 618, ../sass/screen.scss */
#registration #docs {
  margin-top: 6em;
  padding-bottom: 150px;
}
/* line 620, ../sass/screen.scss */
#registration #docs > div {
  display: inline-block;
  padding: 0 4em;
}
/* line 623, ../sass/screen.scss */
#registration #docs > div h3 {
  padding-top: 0.75em;
  text-decoration: underline;
}
/* line 627, ../sass/screen.scss */
#registration #docs > div p {
  padding-top: 0.25em;
  font-weight: normal;
}

/* line 636, ../sass/screen.scss */
#map {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  width: 100%;
  position: relative;
}
/* line 642, ../sass/screen.scss */
#map #map-loading {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 656, ../sass/screen.scss */
#map #map-loading > div {
  color: #fff;
  font-weight: 700;
  font-size: 3em;
  -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 0px 10px black;
  -moz-text-shadow: 0px 0px 10px black;
  -ms-text-shadow: 0px 0px 10px black;
  -o-text-shadow: 0px 0px 10px black;
  text-shadow: 0px 0px 10px black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 667, ../sass/screen.scss */
#map .off {
  display: none !important;
}
/* line 670, ../sass/screen.scss */
#map .fade {
  -webkit-animation: fadeOut 1s forwards;
  -moz-animation: fadeOut 1s forwards;
  -ms-animation: fadeOut 1s forwards;
  -o-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
}
/* line 673, ../sass/screen.scss */
#map #map-container {
  height: 100%;
  width: 100%;
}
/* line 677, ../sass/screen.scss */
#map #legend {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
/* line 682, ../sass/screen.scss */
#map #legend li {
  text-align: right;
}
/* line 684, ../sass/screen.scss */
#map #legend li a {
  display: inline-block;
  text-decoration: inherit;
  color: #fff;
  padding: 1em 5% 1em 0%;
  width: 105%;
  margin-left: -10%;
}
/* line 692, ../sass/screen.scss */
#map #legend li a:hover {
  background-color: #ccc;
}
/* line 696, ../sass/screen.scss */
#map #legend .guests {
  background-color: #ff572b;
}
/* line 699, ../sass/screen.scss */
#map #legend .pilots {
  background-color: #ffb01a;
}
/* line 702, ../sass/screen.scss */
#map #legend .drivers {
  background-color: #2b2b57;
}
/* line 705, ../sass/screen.scss */
#map #legend #controll-pannel {
  width: 110%;
  text-align: center;
  margin-left: -10%;
}
/* line 709, ../sass/screen.scss */
#map #legend #controll-pannel a {
  display: inline-block;
  padding: 1em 0;
  width: 50%;
  height: 100%;
  background-color: #2b2b57;
  margin-left: 0%;
}
/* line 717, ../sass/screen.scss */
#map #legend #controll-pannel a:hover {
  background-color: #000;
}
/* line 722, ../sass/screen.scss */
#map #map-hyper-location {
  display: none;
}

/* line 728, ../sass/screen.scss */
#sponsors {
  background-color: #2b2b57;
  min-height: 110%;
  position: relative;
  text-align: center;
  color: #fff;
  padding-bottom: 10em;
}
/* line 736, ../sass/screen.scss */
#sponsors #title {
  padding: 2em 0 1em 0;
  margin: 0;
}
/* line 742, ../sass/screen.scss */
#sponsors .sponsor {
  max-width: 900px;
  display: inline-block;
  width: 100%;
  padding-top: 1em;
  display: none;
  margin: 0 auto;
}
/* line 751, ../sass/screen.scss */
#sponsors h3 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.8em;
  padding: 1em 0;
}
/* line 759, ../sass/screen.scss */
#sponsors img {
  vertical-align: top;
  max-height: 60px;
  width: auto;
  padding: 0.2em 0.9em;
  vertical-align: middle;
}
/* line 767, ../sass/screen.scss */
#sponsors svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 777, ../sass/screen.scss */
#contact {
  bottom: 0%;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* line 784, ../sass/screen.scss */
#contact #click-away {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 790, ../sass/screen.scss */
#contact #content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
/* line 795, ../sass/screen.scss */
#contact #content > div {
  margin: 0 auto;
  background: #ffb01a;
  background-color: #ffb01a;
  color: #000;
  font-weight: bolder;
  text-align: left;
  line-height: 1.2em;
}
/* line 803, ../sass/screen.scss */
#contact #content > div p {
  text-align: center;
}
/* line 806, ../sass/screen.scss */
#contact #content > div a {
  color: inherit;
  text-decoration: none;
}
/* line 810, ../sass/screen.scss */
#contact #content > div a, #contact #content > div span {
  display: inline-block;
  padding: 1em;
}

/* line 829, ../sass/screen.scss */
#contact.scroll-in {
  -webkit-animation: scrollInMenue 1s forwards;
  -moz-animation: scrollInMenue 1s forwards;
  -ms-animation: scrollInMenue 1s forwards;
  -o-animation: scrollInMenue 1s forwards;
  animation: scrollInMenue 1s forwards;
}

/* line 832, ../sass/screen.scss */
#contact.scroll-out {
  -webkit-animation: scrollOutMenue 1s forwards;
  -moz-animation: scrollOutMenue 1s forwards;
  -ms-animation: scrollOutMenue 1s forwards;
  -o-animation: scrollOutMenue 1s forwards;
  animation: scrollOutMenue 1s forwards;
}

@-webkit-keyframes scrollInMenue {
  /* line 839, ../sass/screen.scss */
  0% {
    bottom: -100%;
  }

  /* line 842, ../sass/screen.scss */
  100% {
    bottom: 0%;
  }
}

@-moz-keyframes scrollInMenue {
  /* line 839, ../sass/screen.scss */
  0% {
    bottom: -100%;
  }

  /* line 842, ../sass/screen.scss */
  100% {
    bottom: 0%;
  }
}

@-ms-keyframes scrollInMenue {
  /* line 839, ../sass/screen.scss */
  0% {
    bottom: -100%;
  }

  /* line 842, ../sass/screen.scss */
  100% {
    bottom: 0%;
  }
}

@keyframes scrollInMenue {
  /* line 839, ../sass/screen.scss */
  0% {
    bottom: -100%;
  }

  /* line 842, ../sass/screen.scss */
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes scrollOutMenue {
  /* line 847, ../sass/screen.scss */
  0% {
    bottom: 0%;
  }

  /* line 850, ../sass/screen.scss */
  100% {
    bottom: -100%;
  }
}

@-moz-keyframes scrollOutMenue {
  /* line 847, ../sass/screen.scss */
  0% {
    bottom: 0%;
  }

  /* line 850, ../sass/screen.scss */
  100% {
    bottom: -100%;
  }
}

@-ms-keyframes scrollOutMenue {
  /* line 847, ../sass/screen.scss */
  0% {
    bottom: 0%;
  }

  /* line 850, ../sass/screen.scss */
  100% {
    bottom: -100%;
  }
}

@keyframes scrollOutMenue {
  /* line 847, ../sass/screen.scss */
  0% {
    bottom: 0%;
  }

  /* line 850, ../sass/screen.scss */
  100% {
    bottom: -100%;
  }
}

/* line 857, ../sass/screen.scss */
.dis-none > div {
  display: none !important;
}

/* line 863, ../sass/screen.scss */
#loading-screen {
  z-index: 9999999;
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 874, ../sass/screen.scss */
#loading-screen > div {
  display: table-cell;
  font-size: 1.7em;
  text-align: left;
  line-height: 1.2em;
  color: #fff;
  font-weight: bolder;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 0px 10px black;
  -moz-text-shadow: 0px 0px 10px black;
  -ms-text-shadow: 0px 0px 10px black;
  -o-text-shadow: 0px 0px 10px black;
  text-shadow: 0px 0px 10px black;
}
/* line 886, ../sass/screen.scss */
#loading-screen > div img {
  width: 50%;
  height: auto;
}
